.HeroSection {
    height: 100%;
    width: 100%;
    padding: calc(2.5rem + 72px) 0 2.5rem 0;

    &__content,
    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 0;
    }

    @media (max-width: 576px) { 
        padding-top: 2.5rem;
    }
}