.brandsSection {
    padding-top: 3rem;
    
    h4 {
        font-size: 1rem;
        text-align: center;
        margin-bottom: -1rem;

        span {
            font-size: 1.25rem;
            font-weight: 700;
        }

        @media (max-width: 576px) { 
            margin-bottom: 0rem;
        }
    }

    &__imgs {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;
        align-items: center;
  

        & > * {
            width: 100%;
        }

        @media (max-width: 576px) { 
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            height: min-content;
            padding: 0 2rem;
            row-gap: 0rem;
        }
    }
}
