.HeroSection__outerContainer--p-Bg {
    background: linear-gradient(-25deg, rgba(211,211,227,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(-25deg, rgb(236, 236, 236) 0%, rgba(255,255,255,1) 100%);
}

// .BrandsSection__outerContainer--s-Bg {
//     background: linear-gradient(-25deg, rgb(222, 227, 211) 0%, rgb(241, 201, 189) 100%);
//     background: linear-gradient(-25deg, rgb(227, 221, 211)0%, rgb(241, 201, 189) 100%);
// }

.BrandsSection__outerContainer--s-li-Bg {
    background: linear-gradient(-25deg, rgb(255, 255, 255)0%, rgb(230, 220, 216) 100%);
}

.Footer__outerContainer--d-Bg {
    background: linear-gradient(-25deg, rgb(78, 77, 77)0%, rgb(59, 56, 55) 100%);
}