.ReviewCard {
    margin-top: 3rem;

    font-size: .75rem;
    font-weight: 100;

    &__quote {
        background-color: rgba(246, 241, 250, 0.397);
        padding: 2rem;
        font-style: italic;
        position: relative;
        
        > * {
                margin-bottom: 0;
        }

        &__icon--left {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-30%, -30%);
            font-size: 2rem;

            color: coral;
            opacity: .7;
        }

        &__icon--right {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(30%, 30%);
            font-size: 2rem;

            color: coral;
            opacity: .7;
        }
    }

    &__name {
        p {
            margin-top: 1rem;
            margin-bottom: 0;
            letter-spacing: 1px;
        }

        & span {
            font-weight: 400;
            font-size: .875rem;
        }
    }
}