.SectionCard {
    &__content,
    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5rem 0;
    }

    @media (max-width: 992px) {
        &__img {
            margin-top: 0;
        }
    }
}