.background {
    position: relative;
    height: 200px;
    width: 100%;
    z-index: 0;

    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background: url('../../asset/img/vr.svg') no-repeat;
        background-position: 100%;
        z-index: -1;
    }
}