.Sections {
    &__content,
    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem 0;
    }

    &__content {
        padding-left: 2rem;
    }
}